@{
    ViewBag.Title = "Update2";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully update this resource value</p>
    <hr>
    <p class="mb-0">
        si vous voulez changer d'autre valeur, retournez à la page d'accueil
    </p>
</div>

<hr />

@ViewBag.Text 