@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron">
    <h1 class="display-4">Resource .resx files</h1>
    <p class="lead">
        Editing Reading Resource .resx files In web Based application
    </p>
    <hr class="my-4">
    <p>
        A resource file is an XML file that can contain strings and other resources, such as image file paths.
        <br />
        Resource files are typically used to store user interface strings that must be translated into other languages.
        <br />
        This is because you can create a separate resource file for each language into which you want to translate a Web page.
    </p>
</div>